body {
    background-color: #36b7cc
}

h1 {
    font-size: 100px
}

table {
    width: 90%;
    border-collapse: collapse
}

th {
    height: 30px
}

table , th, td {
    margin: 30px;
    border: 1px solid black;
    text-align: center
}

tr:nth-child(even) {
    background-color: ghostwhite
}

tr:nth-child(odd) {
    background-color:  mediumpurple
}

tr:hover {
    background-color: greenyellow
}